# PyCity Schools Analysis

*

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school = "Resources/schools_complete.csv"
student = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school)
student_data = pd.read_csv(student)

# Combine the data into a single dataset
school_combo_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# I created this so I would have an index which I used later in the program
school_combo_df.columns
highschool = set()

In [3]:
# Show just the header
school_combo_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# Calculate the number of unique schools and students
Total_Schools = len(school_combo_df["school_name"].unique())
Total_Students = len(school_combo_df["Student ID"].unique())

# The mean method averages the math and reading
math_average = school_combo_df["math_score"].mean()
read_average = school_combo_df["reading_score"].mean()

# Passing Math and Reading with grades equal to or greater than 70
pass_math = school_combo_df["math_score"]>=70

pass_read = school_combo_df["reading_score"]>=70

# Calculate overall passing rate
overall = (math_average + read_average)/2

In [5]:
# The initial code above included all values for math and this line pulls
# out only those values that are equal to or greater than 70
passing_math = pass_math.value_counts(True)[1]*100
#passing_math

In [6]:
# The initial code above included all values for reading and this line pulls
# out only those values that are equal to or greater than 70
passing_read = pass_read.value_counts(True)[1]*100
#passing_read

In [7]:
# Place all of the data found into a raw file so I could use it later in the process when I needed to access 
#data that was not formatted.
raw1_summary_table = pd.DataFrame({"Raw1 Total Schools": [Total_Schools],
                             "Raw1 Total Students": [Total_Students],
                              "Raw1 Average Math Score": [math_average],
                              "Raw1 Average Reading Score": [read_average],
                              "Raw1 % Passing Math": [passing_math],
                              "Raw1 % Passing Reading": [passing_read],
                              "Raw1 % Overall Passing Rate": [overall]})
#raw1_summary_table.head()

In [8]:
# Place all of the data found into a summary DataFrame with formats such as dollar and percent signs
summary_table = pd.DataFrame({"Total Schools": [Total_Schools],
                             "Total Students": [Total_Students],
                              "Average Math Score": [math_average],
                              "Average Reading Score": [read_average],
                              "% Passing Math": [passing_math],
                              "% Passing Reading": [passing_read],
                              "% Overall Passing Rate": [overall]})
summary_table['Total Students'] = summary_table['Total Students'].map('{:,}'.format)
summary_table['Average Math Score'] = summary_table['Average Math Score'].map('{:,.1f}%'.format)
summary_table['Average Reading Score'] = summary_table['Average Reading Score'].map('{:,.1f}%'.format)
summary_table['% Passing Math'] = summary_table['% Passing Math'].map('{:.1f}%'.format)
summary_table['% Passing Reading'] = summary_table['% Passing Reading'].map('{:.1f}%'.format)
summary_table['% Overall Passing Rate'] = summary_table['% Overall Passing Rate'].map('{:.1f}%'.format)
summary_table

,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170",79.0%,81.9%,75.0%,85.8%,80.4%

In [9]:
# Creating a list of the High School Names
#list(set(school_combo_df['school_name']))

In [10]:
# The following six(6) sections were created just to see the type of results I would get 
# school_combo_df['school_name'].unique()

In [11]:
# school_combo_df['type'].unique()

In [12]:
# school_combo_df['School ID'].unique()

In [13]:
# school_combo_df['size'].unique()

In [14]:
# school_combo_df['budget'].unique()

In [15]:
# school_combo_df.groupby('School ID').reading_score.mean()

In [16]:
# I wrote this to see what was in the School file and to see the series heading names
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [17]:
# Using the School_Data csv file to determine the school type.  Easier to use this csv instead of the combined file
# because this file only shows the school names once.
school_type = school_data.set_index('school_name')['type']
#school_type.head()

In [18]:
# Using the School_Data csv file to determine the school size.  Similar to school type, it's easier to use this file then
# to use the combined file because this file is only shows the school names once.
school_size = school_data.set_index('school_name')['size']
#school_size

In [19]:
# Determining the average math score by school
school_math_mean = school_combo_df.groupby('school_name').math_score.mean()
#school_math_mean.head()

In [20]:
# Determining the average reading score by school
school_reading_mean = school_combo_df.groupby('school_name').reading_score.mean()
#school_reading_mean.head()

In [21]:
# pulling in the school budget number from the School Data csv file
school_budget = school_data.set_index('school_name')['budget']
#school_budget.head()

In [22]:
# calculating the budget amount per student
per_stud_bud = school_budget / school_size
#per_stud_bud

In [23]:
# Determining the the math scores that are greater than or equal to 70
sum_pass_math = school_combo_df[school_combo_df['math_score']>=70]
#sum_pass_math.head()

In [24]:
# Calculating the percentage of student with a 70 or better in Math
mathpass = sum_pass_math.groupby('school_name').math_score.count()/school_size*100
#mathpass.head()

In [25]:
# Determining the the reading scores that are greater than or equal to 70
sum_pass_read = school_combo_df[school_combo_df['reading_score']>=70]
#sum_pass_read.head()

In [26]:
# Calculating the percentage of student with a 70 or better in Reading
readpass = sum_pass_read.groupby('school_name').reading_score.count()/school_size*100
#readpass.head()

In [27]:
# Calculate overall passing rate
overall = (mathpass + readpass)/2
#overall.head()

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [28]:
# Place all of the data found into a summary DataFrame of unformatted or raw data.  
#This is needed for code further down in the process when I had to work on data that could not have formatting
raw2_School_summary_table = pd.DataFrame({"Raw2 School Type": school_type,
                            "Raw2 Total Students": school_size,
                            "Raw2 Total School Budget": school_budget,      
                            "Raw2 Per Student Budget": per_stud_bud,
                            "Raw2 Average Math Score": school_math_mean,     
                            "Raw2 Average Reading Score": school_reading_mean,
                            "Raw2 % Passing Math": mathpass,
                            "Raw2 % Passing Reading": readpass,         
                            "Raw2 % Overall Passing Rate": overall})
#raw2_School_summary_table.head()

In [29]:
# Place all of the data found into a summary DataFrame
School_summary_table = pd.DataFrame({"School Type": school_type,
                            "Total Students": school_size,
                            "Total School Budget": school_budget,      
                            "Per Student Budget": per_stud_bud,
                            "Average Math Score": school_math_mean,     
                            "Average Reading Score": school_reading_mean,
                            "% Passing Math": mathpass,
                            "% Passing Reading": readpass,         
                            "% Overall Passing Rate": overall})
School_summary_table['Total Students'] = School_summary_table['Total Students'].map('{:,.0f}'.format)
School_summary_table['Total School Budget'] = School_summary_table['Total School Budget'].map('${:,.0f}'.format)
School_summary_table['Per Student Budget'] = School_summary_table['Per Student Budget'].map('${:,.0f}'.format)
School_summary_table['Average Math Score'] = School_summary_table['Average Math Score'].map('{:,.1f}%'.format)
School_summary_table['Average Reading Score'] = School_summary_table['Average Reading Score'].map('{:,.1f}%'.format)
School_summary_table['% Passing Math'] = School_summary_table['% Passing Math'].map('{:.4f}%'.format)
School_summary_table['% Passing Reading'] = School_summary_table['% Passing Reading'].map('{:.4f}%'.format)
School_summary_table['% Overall Passing Rate'] = School_summary_table['% Overall Passing Rate'].map('{:.4f}%'.format)
School_summary_table.sort_values("% Overall Passing Rate", ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1%,84.0%,94.1335%,97.0398%,95.5867%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4%,83.8%,93.2722%,97.3089%,95.2905%
Pena High School,Charter,962,"$585,858",$609,83.8%,84.0%,94.5946%,95.9459%,95.2703%
Griffin High School,Charter,"1,468","$917,500",$625,83.4%,83.8%,93.3924%,97.1390%,95.2657%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3%,84.0%,93.8677%,96.5396%,95.2037%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [30]:
# Place all of the data found into a summary DataFrame in case I needed to access this data without any formatting
raw3_School_summary_table2 = pd.DataFrame({"Raw3 School Type": school_type,
                            "Raw3 Total Students": school_size,
                            "Raw3 Total School Budget": school_budget,      
                            "Raw3 Per Student Budget": per_stud_bud,
                            "Raw3 Average Math Score": school_math_mean,     
                            "Raw3 Average Reading Score": school_reading_mean,
                            "Raw3 % Passing Math": mathpass,
                            "Raw3 % Passing Reading": readpass,         
                            "Raw3 % Overall Passing Rate": overall})
#raw3_School_summary_table2

In [31]:
# Place all of the data found into a summary DataFrame
School_summary_table2 = pd.DataFrame({"School Type": school_type,
                            "Total Students": school_size,
                            "Total School Budget": school_budget,      
                            "Per Student Budget": per_stud_bud,
                            "Average Math Score": school_math_mean,     
                            "Average Reading Score": school_reading_mean,
                            "% Passing Math": mathpass,
                            "% Passing Reading": readpass,         
                            "% Overall Passing Rate": overall})
School_summary_table2['Total Students'] = School_summary_table2['Total Students'].map('{:,.0f}'.format)
School_summary_table2['Total School Budget'] = School_summary_table2['Total School Budget'].map('${:,.0f}'.format)
School_summary_table2['Per Student Budget'] = School_summary_table2['Per Student Budget'].map('${:,.0f}'.format)
School_summary_table2['Average Math Score'] = School_summary_table2['Average Math Score'].map('{:,.1f}%'.format)
School_summary_table2['Average Reading Score'] = School_summary_table2['Average Reading Score'].map('{:,.1f}%'.format)
School_summary_table2['% Passing Math'] = School_summary_table2['% Passing Math'].map('{:.1f}%'.format)
School_summary_table2['% Passing Reading'] = School_summary_table2['% Passing Reading'].map('{:.1f}%'.format)
School_summary_table2['% Overall Passing Rate'] = School_summary_table2['% Overall Passing Rate'].map('{:.3f}%'.format)
School_summary_table2.sort_values("% Overall Passing Rate", ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8%,80.7%,66.4%,80.2%,73.293%
Figueroa High School,District,"2,949","$1,884,411",$639,76.7%,81.2%,66.0%,80.7%,73.364%
Huang High School,District,"2,917","$1,910,635",$655,76.6%,81.2%,65.7%,81.3%,73.500%
Johnson High School,District,"4,761","$3,094,650",$650,77.1%,81.0%,66.1%,81.2%,73.640%
Ford High School,District,"2,739","$1,763,916",$644,77.1%,80.7%,68.3%,79.3%,73.804%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [33]:
grade_nine = student_data[student_data.grade == '9th'].groupby('school_name').math_score.mean()
#grade_nine.head()

In [34]:
grade_ten = student_data[student_data.grade == '10th'].groupby('school_name').math_score.mean()
#grade_ten.head()

In [35]:
grade_eleven = student_data[student_data.grade == '11th'].groupby('school_name').math_score.mean()
# grade_eleven.head()

In [36]:
grade_twelve = student_data[student_data.grade == '12th'].groupby('school_name').math_score.mean()
# grade_twelve.head()

In [37]:
math_grade_summary_table = pd.DataFrame({"9th": grade_nine,
                                         "10th": grade_ten,
                                          "11th": grade_eleven,
                                          "12th": grade_twelve,     
                                          })
math_grade_summary_table.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [38]:
# Export file as a CSV, without the Pandas index, but with the header
math_grade_summary_table.to_csv("Math Scores by Grade.csv", header=True)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [39]:
grade_r_nine = student_data[student_data.grade == '9th'].groupby('school_name').reading_score.mean()
#grade_r_nine.head()

In [40]:
grade_r_ten = student_data[student_data.grade == '10th'].groupby('school_name').reading_score.mean()
#grade_r_ten.head()

In [41]:
grade_r_eleven = student_data[student_data.grade == '11th'].groupby('school_name').reading_score.mean()
#grade_r_eleven.head()

In [42]:
grade_r_twelve = student_data[student_data.grade == '12th'].groupby('school_name').reading_score.mean()
#grade_r_twelve.head()

In [43]:
read_grade_summary_table = pd.DataFrame({"9th": grade_r_nine,
                                         "10th": grade_r_ten,
                                          "11th": grade_r_eleven,
                                          "12th": grade_r_twelve,     
                                          })
read_grade_summary_table.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [44]:
# Export file as a CSV, without the Pandas index, but with the header
read_grade_summary_table.to_csv("Reading Scores by Grade.csv", header=True)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [45]:
# Scores by School Spending
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
scorebybudget = raw2_School_summary_table[["Raw2 Average Math Score",
                                           "Raw2 Average Reading Score",
                                           "Raw2 % Passing Math",
                                           "Raw2 % Passing Reading",         
                             "Raw2 % Overall Passing Rate"]].groupby(pd.cut(raw2_School_summary_table["Raw2 Per Student Budget"], bins=bins, labels=group_names )).mean()
scorebybudget

,Raw2 Average Math Score,Raw2 Average Reading Score,Raw2 % Passing Math,Raw2 % Passing Reading,Raw2 % Overall Passing Rate
Raw2 Per Student Budget,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

In [46]:
# Export file as a CSV, without the Pandas index, but with the header
scorebybudget.to_csv("Scores by School Budget.csv", header=True)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [47]:
# Scores by School Size - PLEASE NOTE: MY BINS ARE DIFFERENT THEN THE HOMEWORK STARTER NOTEBOOK
bins = [0, 1000, 2500, 5000]
group_names = ["Small < 1000", "Medium 1000 to 2499", "Large 2500 to 5000"]
scorebysize = raw2_School_summary_table[["Raw2 Average Math Score",
                                         "Raw2 Average Reading Score",
                                         "Raw2 % Passing Math",
                                         "Raw2 % Passing Reading",         
                            "Raw2 % Overall Passing Rate"]].groupby(pd.cut(raw2_School_summary_table["Raw2 Total Students"], bins=bins, labels=group_names )).mean()
scorebysize.head()

,Raw2 Average Math Score,Raw2 Average Reading Score,Raw2 % Passing Math,Raw2 % Passing Reading,Raw2 % Overall Passing Rate
Raw2 Total Students,,,,,
Small < 1000,83.821598,83.929843,93.550225,96.099437,94.824831
Medium 1000 to 2499,83.357937,83.885280,93.644365,96.748840,95.196603
Large 2500 to 5000,76.956733,80.966636,66.548453,80.799062,73.673757

In [48]:
# Export file as a CSV, without the Pandas index, but with the header
scorebysize.to_csv("Scores by School Size.csv", header=True)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [49]:
# Scores by School Type
raw2_School_summary_table["Raw2 School Type"] = raw2_School_summary_table["Raw2 School Type"].replace({"Charter": 1, "District": 2})

bins = [0, 1, 2]
group_names = ["Charter", "District"]
scorebytype = raw2_School_summary_table[["Raw2 Average Math Score","Raw2 Average Reading Score","Raw2 % Passing Math","Raw2 % Passing Reading",         
                            "Raw2 % Overall Passing Rate"]].groupby(pd.cut(raw2_School_summary_table["Raw2 School Type"], bins=bins, labels=group_names)).mean()
scorebytype.head()

,Raw2 Average Math Score,Raw2 Average Reading Score,Raw2 % Passing Math,Raw2 % Passing Reading,Raw2 % Overall Passing Rate
Raw2 School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757

In [50]:
# Export file as a CSV, without the Pandas index, but with the header
scorebytype.to_csv("Scores by School Type.csv", header=True)