# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [11]:
school_data_complete_df.columns
highschool = set()

In [12]:
# Show just the header
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
# Calculate the number of unique schools and students
Total_Schools = len(school_data_complete_df["school_name"].unique())
Total_Students = len(school_data_complete_df["Student ID"].unique())

# The mean method averages the math and reading
math_average = school_data_complete_df["math_score"].mean()
read_average = school_data_complete_df["reading_score"].mean()

# Passing Math and Reading with grades equal to or greater than 70
pass_math = school_data_complete_df["math_score"]>=70.(count()/Total_Students)*100

pass_read = school_data_complete_df["reading_score"]>=70

# Calculate overall passing rate
overall = (math_average + read_average)/2

NameError: name 'count' is not defined

In [14]:
# The initial code above included all values for math and this line pulls
# out only those values that are equal to or greater than 70
passing_math = pass_math.value_counts(True)[1]

NameError: name 'pass_math' is not defined

In [15]:
# The initial code above included all values for math and this line pulls
# out only those values that are equal to or greater than 70
passing_read = pass_read.value_counts(True)[1]
passing_read

NameError: name 'pass_read' is not defined

In [7]:
# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Total Schools": [Total_Schools],
                             "Total Students": [Total_Students],
                              "Average Math Score": [math_average],
                              "Average Reading Score": [read_average],
                              "% Passing Math": [passing_math],
                              "% Passing Reading": [passing_read],
                              "% Overall Passing Rate": [overall]
                             })
summary_table

,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,78.985371,81.87784,0.749809,0.858055,80.431606

In [8]:
# list(set(school_data_complete_df['school_name']))

In [9]:
# school_data_complete_df['school_name'].unique()

In [10]:
# school_data_complete_df['type'].unique()

In [11]:
# school_data_complete_df['School ID'].unique()

In [12]:
# school_data_complete_df['size'].unique()

In [13]:
# school_data_complete_df['budget'].unique()

In [14]:
# school_data_complete_df.groupby('School ID').reading_score.mean()

In [15]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [16]:
# this is a series
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [17]:
school_size = school_data.set_index('school_name')['size']
school_size.head()

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Name: size, dtype: int64

In [18]:
school_math_mean = school_data_complete_df.groupby('school_name').math_score.mean()
school_math_mean.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [19]:
school_reading_mean = school_data_complete_df.groupby('school_name').reading_score.mean()
school_reading_mean.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [20]:
school_budget = school_data.set_index('school_name')['budget']
school_budget.head()

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

In [21]:
per_stud_bud = school_budget / school_size
per_stud_bud

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [22]:
sum_pass_math = school_data_complete_df.set_index('school_name')['math_score']>=70
sum_pass_math.head()

school_name
Huang High School     True
Huang High School    False
Huang High School    False
Huang High School    False
Huang High School     True
Name: math_score, dtype: bool

In [23]:
sum_passing_math = sum_pass_math.value_counts(True)[1].mean()
sum_passing_math

0.749808526933878

In [24]:
sum_pass_read = school_data_complete_df.set_index('school_name')["reading_score"]>=70
sum_pass_read.head()

school_name
Huang High School    False
Huang High School     True
Huang High School     True
Huang High School    False
Huang High School     True
Name: reading_score, dtype: bool

In [25]:
sum_passing_read = sum_pass_read.value_counts(True)[1]
sum_passing_read

0.8580546336482001

In [26]:
summ_overall = (school_math_mean + school_reading_mean)/2
summ_overall

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [27]:
# Calculate overall passing rate
overall = (school_math_mean + school_reading_mean)/2

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [28]:
# Place all of the data found into a summary DataFrame
School_summary_table = pd.DataFrame({"School Type": school_type,
                             "Total Students": school_size,
                               "Total School Budget": school_budget,      
                              "Per Student Budget": per_stud_bud,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,
                               "% Passing Math": sum_passing_math,
                                     "% Passing Reading": sum_passing_read,
                                     "% Overall Passing Rate": overall
                                    })
School_summary_table.sort_values("% Overall Passing Rate", ascending=False)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.749809,0.858055,83.942308
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.749809,0.858055,83.818611
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.749809,0.858055,83.809133
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.749809,0.858055,83.633639
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.749809,0.858055,83.631844
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.749809,0.858055,83.584128
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.749809,0.858055,83.542589
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.749809,0.858055,83.518837
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.749809,0.858055,79.112082
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.749809,0.858055,79.041198
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.749809,0.858055,79.019429
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.749809,0.858055,78.934893
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.749809,0.858055,78.924425
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.749809,0.858055,78.906068
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.749809,0.858055,78.793698

In [29]:
'''
# Place all of the data found into a summary DataFrame
School_summary_table = pd.DataFrame({"School Type": school_type,
                             "Total Students": school_size,
                              "Per Student Budget": per_stud_bud,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,                                })
School_summary_table
'''

'\n# Place all of the data found into a summary DataFrame\nSchool_summary_table = pd.DataFrame({"School Type": school_type,\n                             "Total Students": school_size,\n                              "Per Student Budget": per_stud_bud,\n                              "Average Math Score": school_math_mean,     \n                              "Average Reading Score": school_reading_mean,                                })\nSchool_summary_table\n'

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [30]:
# Place all of the data found into a summary DataFrame
School_summary_table = pd.DataFrame({"School Type": school_type,
                             "Total Students": school_size,
                               "Total School Budget": school_budget,      
                              "Per Student Budget": per_stud_bud,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,
                               "% Passing Math": sum_passing_math,
                                     "% Passing Reading": sum_passing_read,
                                     "% Overall Passing Rate": overall
                                    })
School_summary_table.sort_values("% Overall Passing Rate").head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.749809,0.858055,78.793698
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.749809,0.858055,78.906068
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.749809,0.858055,78.924425
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.749809,0.858055,78.934893
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.749809,0.858055,79.019429

In [31]:
'''
# Place all of the data found into a summary DataFrame
School_summary_table = pd.DataFrame({"School Type": school_type,
                             "Total Students": school_size,
                              "Per Student Budget": per_stud_bud,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,                                })
School_summary_table
'''

'\n# Place all of the data found into a summary DataFrame\nSchool_summary_table = pd.DataFrame({"School Type": school_type,\n                             "Total Students": school_size,\n                              "Per Student Budget": per_stud_bud,\n                              "Average Math Score": school_math_mean,     \n                              "Average Reading Score": school_reading_mean,                                })\nSchool_summary_table\n'

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [33]:
grade_nine = student_data[student_data.grade == '9th']
# grade_nine.head()

In [34]:
grade_ten = student_data[student_data.grade == '10th']
# grade_ten.head()

In [35]:
grade_eleven = student_data[student_data.grade == '11th']
# grade_eleven.head()

In [36]:
grade_twelve = student_data[student_data.grade == '12th']
# grade_twelve.head()

In [37]:
grade_nine_mean = grade_nine.groupby('school_name').math_score.mean()
# grade_nine_mean

In [38]:
grade_ten_mean = grade_ten.groupby('school_name').math_score.mean()
# grade_ten_mean

In [39]:
grade_eleven_mean = grade_eleven.groupby('school_name').math_score.mean()
# grade_eleven_mean

In [40]:
grade_twelve_mean = grade_twelve.groupby('school_name').math_score.mean()
# grade_twelve_mean

In [41]:
math_grade_summary_table = pd.DataFrame({"9th": grade_nine_mean,
                                         "10th": grade_ten_mean,
                                          "11th": grade_eleven_mean,
                                          "12th": grade_twelve_mean,     
                                          })
math_grade_summary_table.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [42]:
# index is school name each column is the series creating dataframe

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [43]:
grade_r_nine_mean = grade_nine.groupby('school_name').reading_score.mean()
# grade_r_nine_mean

In [44]:
grade_r_ten_mean = grade_ten.groupby('school_name').reading_score.mean()
# grade_r_ten_mean

In [45]:
grade_r_eleven_mean = grade_eleven.groupby('school_name').reading_score.mean()
# grade_r_eleven_mean

In [46]:
grade_r_twelve_mean = grade_twelve.groupby('school_name').reading_score.mean()
# grade_r_twelve_mean

In [47]:
read_grade_summary_table = pd.DataFrame({"9th": grade_r_nine_mean,
                                         "10th": grade_r_ten_mean,
                                          "11th": grade_r_eleven_mean,
                                          "12th": grade_r_twelve_mean,     
                                          })
read_grade_summary_table.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [48]:
# index is school name each column is the series creating dataframe

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [49]:
School_summary_table = pd.DataFrame({"Per Student Budget": per_stud_bud,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,                                })
School_summary_table

,Per Student Budget,Average Math Score,Average Reading Score
Bailey High School,628.0,77.048432,81.033963
Cabrera High School,582.0,83.061895,83.975780
Figueroa High School,639.0,76.711767,81.158020
Ford High School,644.0,77.102592,80.746258
Griffin High School,625.0,83.351499,83.816757
Hernandez High School,652.0,77.289752,80.934412
Holden High School,581.0,83.803279,83.814988
Huang High School,655.0,76.629414,81.182722
Johnson High School,650.0,77.072464,80.966394
Pena High School,609.0,83.839917,84.044699
Rodriguez High School,637.0,76.842711,80.744686
Shelton High School,600.0,83.359455,83.725724
Thomas High School,638.0,83.418349,83.848930
Wilson High School,578.0,83.274201,83.989488
Wright High School,583.0,83.682222,83.955000

In [50]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [51]:
View_Group = pd.cut(School_summary_table["Per Student Budget"], spending_bins, labels=group_names)
View_Group

Bailey High School       $615-645
Cabrera High School         <$585
Figueroa High School     $615-645
Ford High School         $615-645
Griffin High School      $615-645
Hernandez High School    $645-675
Holden High School          <$585
Huang High School        $645-675
Johnson High School      $645-675
Pena High School         $585-615
Rodriguez High School    $615-645
Shelton High School      $585-615
Thomas High School       $615-645
Wilson High School          <$585
Wright High School          <$585
Name: Per Student Budget, dtype: category
Categories (4, object): [<$585 < $585-615 < $615-645 < $645-675]

In [52]:
School_summary_table = pd.DataFrame({"Per Student Budget": per_stud_bud,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,
                                     "% Passing Math": sum_passing_math,
                                     "% Passing Reading": sum_passing_read,
                                     "% Overall Passing Rate": overall,
                                     "Spending Ranges(Per Student)": View_Group
                                    })
School_summary_table

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges(Per Student)
Bailey High School,628.0,77.048432,81.033963,0.749809,0.858055,79.041198,$615-645
Cabrera High School,582.0,83.061895,83.975780,0.749809,0.858055,83.518837,<$585
Figueroa High School,639.0,76.711767,81.158020,0.749809,0.858055,78.934893,$615-645
Ford High School,644.0,77.102592,80.746258,0.749809,0.858055,78.924425,$615-645
Griffin High School,625.0,83.351499,83.816757,0.749809,0.858055,83.584128,$615-645
Hernandez High School,652.0,77.289752,80.934412,0.749809,0.858055,79.112082,$645-675
Holden High School,581.0,83.803279,83.814988,0.749809,0.858055,83.809133,<$585
Huang High School,655.0,76.629414,81.182722,0.749809,0.858055,78.906068,$645-675
Johnson High School,650.0,77.072464,80.966394,0.749809,0.858055,79.019429,$645-675
Pena High School,609.0,83.839917,84.044699,0.749809,0.858055,83.942308,$585-615
Rodriguez High School,637.0,76.842711,80.744686,0.749809,0.858055,78.793698,$615-645
Shelton High School,600.0,83.359455,83.725724,0.749809,0.858055,83.542589,$585-615
Thomas High School,638.0,83.418349,83.848930,0.749809,0.858055,83.633639,$615-645
Wilson High School,578.0,83.274201,83.989488,0.749809,0.858055,83.631844,<$585
Wright High School,583.0,83.682222,83.955000,0.749809,0.858055,83.818611,<$585

In [53]:
# index is school name each column is the series creating dataframe

## Scores by School Size

* Perform the same operations as above, based on school size.

In [54]:
School_summary_table = pd.DataFrame({"School Type": school_type,
                             "Total Students": school_size,
                              "Per Student Budget": per_stud_bud,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,
                                })

In [55]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [56]:
View_Size = pd.cut(School_summary_table["Total Students"], size_bins, labels=group_names)
View_Size

Bailey High School        Large (2000-5000)
Cabrera High School      Medium (1000-2000)
Figueroa High School      Large (2000-5000)
Ford High School          Large (2000-5000)
Griffin High School      Medium (1000-2000)
Hernandez High School     Large (2000-5000)
Holden High School            Small (<1000)
Huang High School         Large (2000-5000)
Johnson High School       Large (2000-5000)
Pena High School              Small (<1000)
Rodriguez High School     Large (2000-5000)
Shelton High School      Medium (1000-2000)
Thomas High School       Medium (1000-2000)
Wilson High School        Large (2000-5000)
Wright High School       Medium (1000-2000)
Name: Total Students, dtype: category
Categories (3, object): [Small (<1000) < Medium (1000-2000) < Large (2000-5000)]

In [57]:
School_summary_table = pd.DataFrame({"School Size": school_size,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,
                               "% Passing Math": sum_passing_math,
                                     "% Passing Reading": sum_passing_read,
                                     "% Overall Passing Rate": overall,
                                     "School Range": View_Size
                                    })
School_summary_table

,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Range
Bailey High School,4976,77.048432,81.033963,0.749809,0.858055,79.041198,Large (2000-5000)
Cabrera High School,1858,83.061895,83.975780,0.749809,0.858055,83.518837,Medium (1000-2000)
Figueroa High School,2949,76.711767,81.158020,0.749809,0.858055,78.934893,Large (2000-5000)
Ford High School,2739,77.102592,80.746258,0.749809,0.858055,78.924425,Large (2000-5000)
Griffin High School,1468,83.351499,83.816757,0.749809,0.858055,83.584128,Medium (1000-2000)
Hernandez High School,4635,77.289752,80.934412,0.749809,0.858055,79.112082,Large (2000-5000)
Holden High School,427,83.803279,83.814988,0.749809,0.858055,83.809133,Small (<1000)
Huang High School,2917,76.629414,81.182722,0.749809,0.858055,78.906068,Large (2000-5000)
Johnson High School,4761,77.072464,80.966394,0.749809,0.858055,79.019429,Large (2000-5000)
Pena High School,962,83.839917,84.044699,0.749809,0.858055,83.942308,Small (<1000)
Rodriguez High School,3999,76.842711,80.744686,0.749809,0.858055,78.793698,Large (2000-5000)
Shelton High School,1761,83.359455,83.725724,0.749809,0.858055,83.542589,Medium (1000-2000)
Thomas High School,1635,83.418349,83.848930,0.749809,0.858055,83.633639,Medium (1000-2000)
Wilson High School,2283,83.274201,83.989488,0.749809,0.858055,83.631844,Large (2000-5000)
Wright High School,1800,83.682222,83.955000,0.749809,0.858055,83.818611,Medium (1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [58]:
# this is a series
type_school = school_data.set_index('type')['school_name']
type_school.head()

type
District        Huang High School
District     Figueroa High School
Charter       Shelton High School
District    Hernandez High School
Charter       Griffin High School
Name: school_name, dtype: object

In [59]:
School_type_summary_table = pd.DataFrame({"Type": school_type,
                              "Average Math Score": school_math_mean,     
                              "Average Reading Score": school_reading_mean,
                               "% Passing Math": sum_passing_math,
                                     "% Passing Reading": sum_passing_read,
                                     "% Overall Passing Rate": overall,
                                      })
School_type_summary_table

,Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,77.048432,81.033963,0.749809,0.858055,79.041198
Cabrera High School,Charter,83.061895,83.975780,0.749809,0.858055,83.518837
Figueroa High School,District,76.711767,81.158020,0.749809,0.858055,78.934893
Ford High School,District,77.102592,80.746258,0.749809,0.858055,78.924425
Griffin High School,Charter,83.351499,83.816757,0.749809,0.858055,83.584128
Hernandez High School,District,77.289752,80.934412,0.749809,0.858055,79.112082
Holden High School,Charter,83.803279,83.814988,0.749809,0.858055,83.809133
Huang High School,District,76.629414,81.182722,0.749809,0.858055,78.906068
Johnson High School,District,77.072464,80.966394,0.749809,0.858055,79.019429
Pena High School,Charter,83.839917,84.044699,0.749809,0.858055,83.942308
Rodriguez High School,District,76.842711,80.744686,0.749809,0.858055,78.793698
Shelton High School,Charter,83.359455,83.725724,0.749809,0.858055,83.542589
Thomas High School,Charter,83.418349,83.848930,0.749809,0.858055,83.633639
Wilson High School,Charter,83.274201,83.989488,0.749809,0.858055,83.631844
Wright High School,Charter,83.682222,83.955000,0.749809,0.858055,83.818611